h1{
	color: #B8A921
}

u{
	color: #B8A921
}

h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
	margin-left: 450px
}

body{
	background-color: #abdbe3
}

p{
	font-family: Georgia, serif;
}

a{
	font-family: Georgia, serif;
}

ul{
	font-family:Times, Times New Roman, serif
}

img{
width : 700px;
height : 400px;
}
