h1{
	color: #CC0033
}

u{
	color: #CC0033
}

h1{
	margin-left: 500px
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
	background-color: #abdbe3
}

p{
	font-family: Georgia, serif;;
}

ul{
	font-family:Times, Times New Roman, serif
}

img{
width : 700px;
height : 400px;
}
